/*
  Layout classes / Landscape-specific
*/

.icon-label {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  margin-right: 4px;
}

/*
  16px icons
*/

.icon-stream-chat {
  width: 14px;
  height: 14px;

  border: 4px solid #4330FC;
  border-radius: 100%;
}

.icon-stream-dm {
  height: 14px;
  width: 14px;

  border: 6px solid #4330FC;
  border-radius: 100%;
}

.icon-collection {
  height: 12px;
  width: 12px;

  position: relative;

  background-color: #6FDC74;
  border-radius: 1px;
}

.icon-collection::after {
  height: 6px;
  width: 6px;

  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  content: "";

  background-color: white;
  border-radius: 100%;
}

.icon-collection-comment::before {
  height: 4px;
  width: 4px;

  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 2;
  content: "";

  background-color: #6FDC74;
  border-radius: 100%;
}

.icon-collection-post {
  height: 4px;
  width: 4px;

  background-color: #6FDC74;
}

/*
  Other icons
*/

/*
  TODO: Add a wrapper to this that ensures centered 32pxness
*/

.icon-panini {
  width: 32px;
  height: 32px;

  position: relative;
}

.icon-panini::after {
  position: absolute;
  content: "";
  left: 4px;
  top: 8px;

  border-top: 4px solid black;
  border-bottom: 4px solid black;
  height: 8px;
  width: 24px;
}

.icon-x {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.icon-x:before, .icon-x:after {
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;

  border-top: 5px solid #000;
  border-color: inherit;

  content: "";
}

.icon-x:before {
  left: -4px;
  transform: rotate(45deg);
}

.icon-x:after {
  left: 13px;
  transform: rotate(-45deg);
}

.icon-lus {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.icon-lus:before, .icon-lus:after {
  position: absolute;
  width: 12px;
  height: 12px;

  content: "";
}

.icon-lus:before {
  border-top: 2px solid black;
  border-color: inherit;

  top: 5px;
}

.icon-lus:after {
  border-left: 2px solid black;
  border-color: inherit;

  left: 5px;
}

.icon-ellipsis-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1px;
}

.icon-ellipsis-dot {
  width: 2px;
  height: 2px;
  background-color: black;
}

/* .icon-lus:after {
  left: 6px;
  transform: rotate(-45deg);
} */

/* .icon-item {
  right: 10px;
  position: relative;
}

.icon-text {
  position: relative;
  width: 16px;
  height: 16px;
  border: 5px #FFBF21 solid;
}

.icon-text-topic {
  position: absolute;
  top: -2px;
  left: -1px;
  width: 9px;
  height: 9px;
  clip-path: polygon(50% 2.4%, 0% 38.8%, 19.1% 97.6%, 80.9% 97.6%, 100% 38.8%);
  background-color: white;
}

.icon-dm {
  height: 12px;
  width: 12px;
  background-color: #FD5331;
}

.icon-chat {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 5px #4330FC solid;

}

.icon-inbox {
  width: 15px;
  height: 12px;
  border-radius: 12px;
  background-color: black;
} */
